/* CSS for My Portfolio */

/* Define the font using @font-face */
@font-face {
  font-family: Myfont;
  src: url('myfont-regular-webfont.woff2') format('woff2'),
       url('myfont-regular-webfont.woff') format('woff'),
       url('Myfont-Regular.ttf') format('truetype');
}

body {	
  font-family: Playpen Sans, cursive;
  margin: 0;
}

h1 {
  font-family: Myfont;
  text-align: center;
  font-size: 36px;
  color: #242215;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 300px;
  margin: 10px;
}
.project img {
  width: 100%;
}
.project-info {
  padding: 10px;
}
h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
p {
  margin-bottom: 0;
  font-size: 14px;
}

.logo {
  width: 300px;
}

/* NAVIGATION BAR */
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  margin-right: 1em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: #FFC546;
}

/* HOVER IMAGES */

a:hover img {
    transform: scale(1.05);
}

/* BUTTON */
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    padding: 20px 0;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
